.wrapper {
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   color: #222;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
   font-size: 25px;
}

.aboutus__img{
   height: 65%;
   width: 65%; 
   border-radius: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 5px 5px 15px 5px rgb(71, 71, 71);
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 48%;
   font-size: 18px;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}