.button_show {
    margin-top: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 20px;
    background: #fff;
    border: 1px solid #151515;
    cursor: pointer;
}

.banner_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    border-spacing: 20px 20px;
    margin: 10px 15px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}
.banners_position{
    display: flex;
  justify-content: center;
}

.image_news{
    max-height: 250px;
    max-width: 450px;
    margin: 5px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}