body {
  display: block;
  margin: 0px;
}

footer {
  background: #1b417f;
  color: #fff;
}
.footer-cont {
  position: relative;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer-items {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-items-case {
  object-fit: cover;
  border-spacing: 20px 20px;
  margin: 10px 100px 10px 200px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer-img {
  height: 40px;
  width: 40px;
}
.footer-left-column {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 0px 20px;
}
.footer-left-column-text {
  padding-top: 0.7rem;
  padding-left: 0.7rem;
}
.footer-right-column {
  display: flex;
  justify-content: center;
  margin: 40px 0px 30px;
}
