/* header */
.menu-item {
  flex-basis: 20%;
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 0;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  background-color: #f8f8f8;
  margin: 0px auto 40px;
}

.menu-item:hover {
  background: rgb(204, 204, 204);
}

.link-item-menu {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
