.menu-item {
  flex-basis: 20%;
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 0;
}
body {
  display: block;
  margin: 0px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  background-color: #f8f8f8;
  margin: 0px auto 40px;
}
.menu-item:hover {
  background: rgb(204, 204, 204);
}

.link-item-menu {
  color: rgb(8, 8, 8);
  text-decoration: none;
}
footer {
  background: #f8f8f8;
}
.footer-cont {
  position: relative;
  font-size: 30px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer-items {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-items-case {
  object-fit: cover;
  border-spacing: 20px 20px;
  margin: 10px 200px 10px 200px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer-img {
  height: 40px;
}
.footer-left-column {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 20px 0px 20px;
}
.footer-left-column-text {
  padding-top: 0.7rem;
  padding-left: 0.7rem;
}
.footer-right-column {
  display: flex;
  justify-content: center;
  margin: 40px 0px 30px;
}
