
.menu-item__nav {
  flex-basis: 20%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 0;
}


.menu__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  background-color: #1b417f;
  margin: 0px auto 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-item__nav:hover {
  background: #2760bb;
  color: white;
}

.link-item-menu__nav {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
